

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>slected.me</title>
        <link rel="Shortcut Icon" type="image/jpg" href="images/favicon.ico" />
    	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1" />
    	<!--<meta name="viewport" content="user-scalable=yes, initial-scale=1, maximum-scale=2, minimum-scale=0.5, width=device-width, height=device-height, target-densitydpi=device-dpi" />-->

        <!--[if IE]>

            <script src="http://infinitechlabs.in/slected/v4/js/html5.js"></script>

        <![endif] -->
        <link rel="stylesheet" type="text/css" href="https://kit-pro.fontawesome.com/releases/v5.10.2/css/pro.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
    	<link rel="stylesheet" type="text/css" href="http://infinitechlabs.in/slected/v4/css/style.css" />
        <link rel="stylesheet" type="text/css" href="http://infinitechlabs.in/slected/v4/css/media_queries.css" />
        <link rel="stylesheet" type="text/css" href="http://infinitechlabs.in/slected/v4/css/animate.css" />
        <style>
            .whtbtn { width: 215px; height: 38px; float: left; line-height: 38px; text-align: center; border-radius: 50px; box-shadow: 5px 5px 10px 0 rgba(11, 114, 181, 0.1); border: solid 1px #0b72b5; background-color: #ffffff; font-size: 13px; color: #0b72b5; margin-top: 21px; }



.email { width: 100%; height: auto; float: left; background-color: #f6f9ff; }

.mailer { width: 600px; height: auto; margin: 0 auto; display: table; padding: 72px 50px; }

.mailer .txtsmall { width: 100%; height: auto; float: left; font-size: 10px; line-height: 16px; letter-spacing: 0.15px; margin-bottom: 15px; text-align: center; color: #4b4b4d; }

.mailer .txtsmall a { text-decoration: underline; color: #4b4b4d; }

.mailerinner { width: 600px; padding: 30px; float: left; background: #fff; border-radius: 30px; }

.mailerlogowrap { width: 100%; float: left; padding-bottom: 19px; border-bottom: 1px solid #f0f0f0; }

.mailerlogo { width: 165px; float: left; position: relative; }

.mailerlogo img { width: 165px; height: 45px; float: left; }

.mailerlogotcaption { width: auto; position: absolute; left: 53px; float: none !important; bottom: 0; font-size: 10px; line-height: 13px; color: #084f7f; letter-spacing: -0.25px; }

.mailerbody { width: 570px; float: left; padding: 42px 15px 0px; }

.mailerbody h1 { width: 100%; float: left; color: #084f7f; font-size: 40px; line-height: 45px; letter-spacing: -1px; margin-bottom: 40px; }

.mailerbody h2 { width: 100%; float: left; color: #243f76; font-size: 33px; line-height: 35px; letter-spacing: -0.33px; margin-bottom: 30px; font-weight: bold; }

.mailerbody h4 { width: 100%; float: left; color: #858585; font-size: 13px; line-height: 16px; letter-spacing: 0.26px; margin-bottom: 15px; }

.mailerbody p { width: 100%; float: left; color: #4b4b4d; font-size: 16px; line-height: 22px; letter-spacing: 0.16px; margin-bottom: 30px; }

.mailerbody_btnwrap { width: 100%; float: left; text-align: center; margin-bottom: 42px; }

.mailerbody_btnwrap a { width: 260px; height: 40px; text-align: center; box-shadow: 12px 12px 20px 0 rgba(11, 114, 181, 0.16);

  background-image: linear-gradient(to right, #084f7f 30%, #176a9a 51%, #3aaadc 100%); color: #fff; font-size: 13px; line-height: 40px; text-transform: uppercase; letter-spacing: 0.2px; margin: 0 auto; display: table; border-radius: 50px; font-weight: 500; }

.mailerbody p a { color: #0b72b5; text-decoration: underline; }

.mailerfooter { width: 490px; float: left; padding: 10px; margin: 40px 40px 0px; text-align: center; border-top: 1px solid #f0f0f0; }

.mailerfooter p { width: 100%; float: left; font-size: 13px; line-height: 16px; color: #c6c7c8; margin-bottom: 20px; text-align: center; }

.copyright { color: #084f7f !important; }

.copyright a { color: #084f7f !important; text-decoration: none !important; }

.mailerbody_tablewrap { width: 100%; float: left; }

.mailerbody_tablewrap h3 { width: 100%; float: left; font-size: 20px; line-height: 25px; color: #0b72b5; margin-bottom: 15px; }

.mailerbody_tablewrap .row { width: 510px; float: left; border-radius: 10px; background: #f9f9fa; padding: 0 30px; margin-bottom: 10px; }

.mailerbody_tablewrap .row label { width: 150px; font-size: 13px; line-height: 40px; color: #243f76; letter-spacing: 0.13px; float: left; font-weight: 600; margin-right: 10px; }

.mailerbody_tablewrap span { width: 350px; float: left; font-size: 13px; line-height: 40px; color: #4b4b4d; }
        </style>    
    </head>

     <body>

        <div class="mainbody email">

            <div class="mailer">

                <div class="txtsmall">

                    Wenn diese Nachricht nicht korrekt angezeigt wird, klicken Sie bitte <a href="#" title="hier">hier</a>.

                </div>

                <div class="mailerinner">

                    <div class="mailerlogowrap">

                        <div class="mailerlogo">

                            <img src="http://slected.me/images/mailer_logo.png" alt="Slected Me">
                            <div class="mailerlogotcaption"> Erkenne deinen Wert.</div>
                        </div>
                    </div>
                    <div class="mailerbody">
                        <h1>Hey</h1>
                        <h2><%= name %>,</h2>
                        
                        <h4>Vergessen ist menschlich!</h4>

                        <p>Du hast kürzlich angefordert, Dein Kennwort für Dein Konto bei Slected.me zurückzusetzen. Verwende die Schaltfläche unten, um es zurückzusetzen. Dieses Zurücksetzen des Passworts ist nur für die nächsten <a href="#" title="24 Stunden gültig">24 Stunden gültig</a>.</p>

                        <div class="mailerbody_btnwrap">

                            <a href="http://slected.me/#/resetpassword/<%= uid %>" title="EMAIL Bestätigen">PASSWORD zurücksetzen</a>

                        </div>

                        <p>Aus Sicherheitsgründen wurde diese Anforderung von einem <%= os %> Gerät mit <%= browser %> <%= browser_version %> empfangen. Wenn Du kein Zurücksetzen des Passworts angefordert hast, ignoriere diese E-Mail oder wende Dich an den Support, wenn Du Fragen hast.

                        <br/><br/>

                        Danke,<br/>

                        Slected Team

                        </p>

                        <p>Wenn Du Probleme mit der obigen Schaltfläche hast, kopiere die unten stehende URL und füge es in deinem Webbrowser ein.<br/><br/>

                        <!-- {{action_url}} -->
                        http://slected.me/resetpassword/<%= uid %>

                        </p>

                        <div class="mailerfooter">

                            <p>Diese Nachricht wurde an <%= name %> gesendet.</p>

                            <p class="copyright">© 2019 Slected.me | Alle Rechte vorbehalten</p>

                            <p class="copyright"><a href="http://slected.me/#/help" title="Hilfe">Hilfe</a> | <a href="http://slected.me/#/imprint" title="Impressum">Impressum</a> | <a href="http://slected.me/#/dataprotect" title="Datenschutz">Datenschutz</a></p>
                            <img src="http://slected.me/images/slectedLogoIcon.svg" alt="">

                        </div>

                    </div>

                </div>

            </div>

            



              <?php //include_once('rightfooter.php');?>





        </div>







    </body>

</html>    
